body {
  color: #44749D;
  font-family: Arial, Helvetica, sans-serif;
  /*feedback from module 6, a classmate liked my initial attempt at a bg image
  by using this image in addition with the format of the div and the opactiy set for readability
  I was able to come up with a better experience*/
  background-image: url("../img/sink.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: border-box;
  background-position: bottom;
  background-position: right;
  background-size: cover;
}

a:link {
  color: #44749D;
  text-decoration: none;
}

a:visited{
  color:inherit;
}

.title-bar { 
  font-family: 'Neuton', serif;
  color: #44749D;
  background-color: #EBE7E0;
  border:5px;
  font-size: 55px;
  font-size: 5vw;
  border-style: solid;
  border-width: 1px;
}

.menu-bar {
  font-family: 'Hanuman', serif;
  font-variant: small-caps;
  font-stretch: expanded;
  line-height: 80%;
  background-color: #C6D4E1;
 /*feedback from module 6 was that the font was too large in the nav bar*/
  font-size: 3.5vw;
  border: 5px;
  border-style: solid;
  border-width: 1px;
  margin-top: 5px;
  text-align: center;
  overflow: hidden;
  word-spacing: 30px;
}

.fixed {
  position: fixed;
  bottom: 10px;
  right: 0;
  font-family: sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-variant: small-caps;
  font-stretch: expanded;
  text-align: right;
  color: black;
  padding-right: 5%;
  padding-bottom: 2%;
  text-shadow: 2px 2px yellow;
}

.container {
  width: 70%;
  height: 90%;
  border: 1;
  margin: 5px 10px 50px 10px;
  display: inline-block;
  text-align: left;
  padding-left: 4%;
  font-size: 20px;
  /*set the background opacity level for better readability*/
  background-color: rgba(255,255,255,.3);
}

#browser-compat {
  table-layout: fixed;
  border: solid;
  border-color: #EBE7E0;
  width: 100%;
  text-align: bottom-right;
}


table tr td img{
 width: 100%;
 display: block;
 border-style: solid;
 border-color: black;
 border-width: 2px;
}


.code {
  font-family: monospace;
  color: black;
}


.testimonials {
  padding-left: 15%;
}

.footer {
  font-family: 'Hanuman', serif;
  text-align: center;
  bottom: 0;
  width: 100%;
  text-align: center;
}